/*
	Tapestry by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

html, body {
}

body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #8399a6;
}

body, #skel-panels-pageWrapper {
	background: #FFF2CF url(images/img01.png) repeat;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #887644;
}

h2 {
	font-size: 1.75em;
}

p {
	line-height: 170%;
}

a {
	color: #706443;
}

strong {
	font-weight: 700;
	color: #675830;
}

/* Button Style */

.button-style1 a {
	display: block;
	padding: 1em 0em 1em 1em;
	background: #000000 url(images/img03.jpg) no-repeat right 50%;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	font-weight: 200;
	color: #FFFFFF;
}

/* Button Style 2 */

.button-style2 a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: #766946;
	border-radius: 5px;
	line-height: 2.60em;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	font-size: 0.90em;
	color: #FFFFFF;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0em;
	list-style: none;
}

ul.style1 li {
	padding: 0.94em 0em;
	background: url(images/img02.jpg) repeat-x left top;
}

ul.style1 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	background: url(images/img05.png) no-repeat left 3px;
	text-shadow: 1px 1px 0px #FFFFFF;
	text-decoration: none;
	color: #7C6E49;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	background: none;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style2 li {
	padding: 1.25em 0em 2.5em 0em;
	background: url(images/img02.jpg) repeat-x left top;
}

ul.style2 a {
	text-decoration: none;
	color: #7C6E49;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0em 0em 1.56em 0em;
	padding: 0.35em 0.63em;
	background: url(images/img02.jpg) repeat-x left top;
	border-radius: 5px;
	letter-spacing: 0.06em;
	line-height: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

ul.style2 img {
	float: left;
	margin-right: 1.5em;
}

ul.style2 .first {
	background: none;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style3 li {
	padding: 1.25em 0em 1.56em 0em;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
}

ul.style3 .date b {
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0em;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style4 li {
	padding: 0.94em 0em 0.94em 0em;
	background: url(images/img02.jpg) repeat-x left top;
}

ul.style4 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	text-decoration: none;
	color: #C18062;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 li {
	border-top: 0;
}

/** LIST STYLE 5 */

ul.style5 {
	overflow: hidden;
	margin: 0em 0em 1em 0em;
	padding: 0em;
	list-style: none;
}

ul.style5 li {
	float: left;
	padding: 0.25em 0.25em;
	line-height: 0;
}

ul.style5 a {
}



/** LIST STYLE 6 */

ul.style6 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}


ul.style6 h3 {
	margin: 0em;
	padding: 0em 0em 0.63em 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #7D6F4B;
}

ul.style6 p {
	font-style: italic;
	font-size: 0.87em;
}

ul.style6 li {
	background: url(images/img02.jpg) repeat-x left top;
	padding: 1.25em 0em 1.25em 0em;
	line-height: 170%;
}

ul.style6 a {
	display: block;
	padding: 0em;
	text-decoration: none;
	color: #A29574;
}

ul.style6 a:hover {
	text-decoration: underline;
}

ul.style6 .first {
	padding-top: 0em;
	background: none;
}



.balloon {
	padding: 1.87em;
	background: url(images/img08.jpg) repeat left top;
	border-radius: 5px;
	line-height: 180%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-style: italic;
}

.ballon-bgbtm {
	height: 1.87em;
	background: url(images/img09.png) no-repeat right top;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #877850;
		background: #62573b;
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #877850;
	}
