<div class="container">

    <div class="row">
        <div class="header">
            <div class="logo">
                <h1><a href="#">HJT</a></h1>
            </div>
            <div class="header-main">
                <div class="col-md-3 header-left">
                    <div class="buttons">
                        <div>
                            <button ng-click="buscar()" style="top: 50px; left: 220px">Ir</button>
                        </div>
                        <form class="serch1" ng-submit="buscar()">
                            <input type="text" placeholder="Ej. Perrito, Nyancat" ng-model="tag">
                        </form>
                    </div>
                    <div class="row" style=" position:absolute; top: 100px;left: 450px">
                         <label style="font-family: Homer Simpson , cursive">
                Busca un video, haz clic en uno de ellos para mostrarte lugares e imágenes relacionadas </label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6"><iframe id='audio_9347129' frameborder='0' allowfullscreen='' scrolling='no' height='200' style='border:1px solid #EEE; box-sizing:border-box; width:100%;' src="https://www.ivoox.com/player_ej_9347129_4_1.html?c1=ff6600"></iframe></div>
      <div class="col-md-6"><iframe id='audio_9411021' frameborder='0' allowfullscreen='' scrolling='no' height='200' style='border:1px solid #EEE; box-sizing:border-box; width:100%;' src="https://www.ivoox.com/player_ej_9411021_4_1.html?c1=ff6600"></iframe></div>
    </div>
    <div id="features-wrapper" ng-if="videos.length>0">
        <div class="container">
            <div class="row">
                <div class="4u 12u(medium)" ng-repeat="video in videos">
                    <!-- Box -->
                    <section class="box feature">
                        <a href="/#/video/{{ video.id }}/{{ tag }}" class="image featured"><img src="{{ video.imagen }}" alt=""></a>
                        <div class="inner">
                            <header>
                                <h4>{{video.titulo}}</h4>
                            </header>
                            <p></p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
