<div class="container">
    <br>
    <h2>{{ video.nombre }}</h2>
    <!--<div class="row" style="margin-bottom: 20px">
		<div id="video" class="col-md-6"></div>
		<div id="map" class="col-md-6" style="height: 325px"></div>
	</div>
	
	<p>{{ video.descripcion }}</p>
	<p>    </p>-->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="6u 12u(medium)">
                    <div id="video"></div>
                </div>
                <div class="6u 12u(medium)">
                    <div id="map" style="height: 325px"></div>
                </div>
            </div>
            <div class="row">
                <div class="6u 12u(small)">
                <hr><h4>Descripción</h4> 
                    <p  style="font-size: 10pt"> 
                        {{ video.descripcion }} 
                    </p>
                    <p ng-repeat="tag in video.etiquetas" style="font-size: 11pt; display:inline-block; padding-right: 10px">
                        <b>#{{ tag }}</b>
                    </p>
                </div>
                <div class="6u 12u(small)">
                    <hr>
                    <h4>Lugares relacionados</h4>
                    <div ng-repeat="lugar in lugares">
                        <label>{{ $index + 1 }}: {{ lugar.nombre }}</label>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="publicar()" ng-hide="video.publicado" ng-disabled="video.publicado">Publicar en Plurk</button>
        <p ng-show="video.publicado"> Puedes ver lo que mas usuarios han visto entrando <a target="_blank" href="http://www.plurk.com/xavier_1023"> aqui </a>  </p>
        
           <br><br><hr> <h2>Imagenes relacionadas</h2> 
        <!--<div ng-repeat="imagen in imagenes">
		<img ng-src="{{ imagen }}" alt="">
	</div>
	<div id="sidebar">
	-->
        <section class="widget thumbnails">
            <div class="grid">
                <div class="row 50%">
                    <div class="6u" ng-repeat="imagen in imagenes">
                        <a href="#" class="image fit">
                            <div style="background: url('{{ imagen }}') no-repeat scroll center top #000;
background-size: cover; height: 300px; border-radius: 8px;"></div>
                        </a>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>
